@import 'bootstrap/dist/css/bootstrap.min.css';

// TODO
// - Figure out unit size and make all spacing/padding multipliers of it
// - Variables for font weights
// - Add extra layer of colors like $background-color, $background-secondary-color, etc.
// -

// Variables
$font-stack: 'Inter', sans-serif;
$font-weight-bold: 700;
$font-weight-semi-bold: 500;
$font-weight-semi-light: 300;

// Colors
$black: black;
$off-black: #0d0d0d;
$white: white;
$off-white: #ffffff26;

html,
body {
  font-family: $font-stack;
  background-color: $black;
  color: $white;
  font-size: 16px;
  line-height: 17.6px;
}

/* FONTS */
.h1,
.h2,
.h3 {
  font-weight: $font-weight-bold;
  color: $white;
}
.h1 {
  font-size: 36px;
  line-height: 39.6px;
  letter-spacing: -3%;
}
.h2 {
  font-size: 24px;
  line-height: 26.4px;
  letter-spacing: -3%;
}
.h3 {
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -1%;
}
.h4,
.h5 {
  font-weight: $font-weight-semi-bold;
}
p,
span,
div {
  font-weight: $font-weight-semi-light;
}

// Text for Screen Readers only
// Reference: Bootstrap 4 codebase
@mixin sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* BUTTONS */
.btn {
  font-size: 14px;
  line-height: 15.4px;
  text-align: center;
}
.btn-link {
}
.btn-arrow-link {
  span {
    @include sr-only();
  }
}
.btn-category-toggle {
  font-weight: $font-weight-semi-bold;
  height: 39px;
  border-radius: 120px;
  border: 1px solid $off-white;
  padding: 12px 16px 12px 16px;
  margin-right: 10px;
  background-color: $off-black;
  text-decoration: none;
  color: $white;
  display: flex;
  align-items: center;

  &:hover,
  &:active,
  &:visited {
    background-color: $off-black;
    opacity: 0.8;
  }

  &.is-active {
    background-color: $white;
    color: $black;
  }
}

/* HEADER */
.global-header {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid $off-white;
}
.logo {
  margin-left: 32px;

  span {
    @include sr-only();
  }
}
.header {
  padding: 64px 0 24px 0;
}

/* FILTER PANEL */
.category-toggles {
  list-style: none;
  margin: 0;
  padding: 24px 0 24px;
  display: flex;
}

/* EVENT LIST */
.experience-reel {
  padding: 24px 0 16px;

  .experience-reel-head {
    padding-bottom: 12px;
  }
  .experience-reel-title {
  }
  .experience-reel-body {
  }
  .experience-reel-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
}
.experience-card {
  max-width: 239px;
  margin-right: 20px;
}
.experience-card-head {
}
.experience-card-image {
  width: 100%;
  height: auto;
}
.experience-card-body {
}
.experience-card-title {
  margin-top: 8px;
  margin-bottom: 4px;
}
.experience-card-provider {
  margin: 0;
}
